h1 Welcome #{@user_full_name}
p #{link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path unless current_user}
p #{link_to "Sign out", destroy_user_session_path, method: :delete if current_user}
